@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Removes Google Maps branding */
.gm-style-cc {
  display: none !important;
}

.gm-style a[href^="https://maps.google.com/maps"]
{
  display: none !important;
}
